.product__main
{
    background-color: white;
}

.product__img
{
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
}


.product__card
{
    border: none;
}